/users:
  get:
    summary: Get all users
    tags:
      - Users
    responses:
      200:
        description: List of users
        content:
          application/json:
            schema:
              type: object
              properties:
                success:
                  type: boolean
                  example: true
                statusCode:
                  type: integer
                  example: 200
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "64abc123"
                      name:
                        type: string
                        example: "John Doe"
                      email:
                        type: string
                        example: "john@example.com"

  post:
    summary: Create a user
    tags:
      - Users
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                example: "John Doe"
              email:
                type: string
                example: "john@example.com"
    responses:
      201:
        description: User created
        content:
          application/json:
            schema:
              type: object
              properties:
                success:
                  type: boolean
                  example: true
                statusCode:
                  type: integer
                  example: 201
                data:
                  type: object
                  properties:
                    id:
                      type: string
                      example: "64abc123"
                    name:
                      type: string
                      example: "John Doe"
                    email:
                      type: string
                      example: "john@example.com"